body{
	width:100%;
	height:auto;
	margin:0 auto;
	overflow-y:hidden;
}

#youtube_wrapper{
	width:100%;
	height:100%;
	margin:0 auto;
	overflow-y:hidden;
	position:relative;
}
#video_controls{
	width:240px;
	height:auto;
	margin:0 auto;
	margin-top:40px;
	text-align: center;
	border:2px solid black;
	background-color: rgba(0,0,0,.40);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-top: 3px;
}
#video_controls li{
	display: inline-block;
}
.l-region--header{
	position:relative;
}
.draggable{
	width:200px;
	height:30px;
}
.tubular-no-content,
.tubular-play,
.tubular-pause,
.tubular-volume-down,
.tubular-volume-up,
.tubular-mute,
.tubular-close{
	padding:5px;
}
#maximize_tools{
	display:none;
	position:fixed;
	top:40px;
	left:30px;
	z-index: 4000;
}